@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Chakra Petch";
}

:root{

    /*colors*/
    --blk-clr: #000;
    --wht-clr: #fff;
    --red-clr: rgb(216, 32, 32);
}

main{
    padding: 1.5rem;
    border: solid 1px var(--blk-clr);
    width: 100vw;
    min-height: 100vh;
    background: var(--blk-clr);
}

::-webkit-scrollbar {
    display: none;
}

.scroll-img::-webkit-scrollbar {
    display: block;
    border-radius: 5px;
    background-color: var(--blk-clr);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.wid{
    width: 80%;
}

/*------Fake Navbar------*/

.fakeNav{
    z-index: 10;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    width: 96%;
    height: 15%;
    overflow: hidden;
    border-bottom: solid var(--blk-clr) 1px;
}

.fakeNav ul{
    padding: 8px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fakeNav ul a{
    text-decoration: none;
    color: var(--blk-clr);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.fakeNav li{
    padding: 8px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.fakeNav li:hover, .fakeNav a:hover {
    color: var(--wht-clr);
    text-shadow: 1px 1px 1px #919191, 
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191;
}

/*------Text------*/

h1{
    font-weight: 500;
    text-align: center;
}

h2{
    text-align: center;
    color: var(--blk-clr);
    font-size: clamp(4rem, 5vw + 1rem, 7rem);
    text-shadow: 1px 1px 1px #919191, 
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2);
}

p{
    font-size: 1.2rem;
    background: rgba(255, 255, 255, 0.2);
}

.fa{
    font-size: clamp(1rem, 10vw + .1rem, 1.5rem);
}

.fo-chg h2{
    font-size: clamp(2rem, 5vw + 1rem, 4rem);
}

span{ 
    text-align: center;
}

span.clr-pop{
    color: var(--red-clr);
}

img.ab{
    z-index: 100;
    bottom: 0;
    position: absolute;
    width: 40%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}

/*------Navbar------*/

iframe{
    margin-top: 25%;
    width: 50%;
    bottom: 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
}

/*------Hamburger Menu------*/

.menu-btn{
    left: 45%;
    bottom: 0;
    margin-right: 50%;
    z-index: 100;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    background: #000;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.menu-btn__burger{
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.menu-btn.open .menu-btn__burger {
    transform: translateY(5px) rotate(90deg);
    background: transparent;
    box-shadow: none;
    -webkit-transform: translateY(5px) rotate(90deg);
    -moz-transform: translateY(5px) rotate(90deg);
    -ms-transform: translateY(5px) rotate(90deg);
    -o-transform: translateY(5px) rotate(90deg);
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(255, 225, 255, 0.5);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.menu-btn__burger::before{
    transform: translateY(-6px) translateX(11px) rotate(30deg);
    -webkit-transform: translateY(-6px) translateX(11px) rotate(30deg);
    -moz-transform: translateY(-6px) translateX(11px) rotate(30deg);
    -ms-transform: translateY(-6px) translateX(11px) rotate(30deg);
    -o-transform: translateY(-6px) translateX(11px) rotate(30deg);
}

.menu-btn__burger::after{
    transform: translateY(6px) translateX(11px) rotate(-30deg);
    -webkit-transform: translateY(6px) translateX(11px) rotate(-30deg);
    -moz-transform: translateY(6px) translateX(11px) rotate(-30deg);
    -ms-transform: translateY(6px) translateX(11px) rotate(-30deg);
    -o-transform: translateY(6px) translateX(11px) rotate(-30deg);
}

.cont-page{
    z-index: 10;
    opacity: 0;
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background: rgba(0, 0, 0, .9);
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

.cont-page.open{
    display: flex;
    opacity: 1;
    margin-top: 0;
}

.cont-page nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cont-page ul{
    display: inline-block;
    margin: 0;
    text-align: center;
    padding: 0;
    list-style: none;
}

.cont-page nav li{
    padding: 3rem 0;
}

.cont-page nav a{
    color: var(--wht-clr);
    text-decoration: none;
    font-size: clamp(2rem, 5vw + 1rem, 5rem);
    text-shadow: 1px 1px 1px #919191, 
        1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 16px 3px rgba(16, 16, 16, 0.4),
        1px 20px 5px rgba(16, 16, 16, 0.2);
}

/*------Home Section------*/

.home{
    padding: 2%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: solid 1px var(--blk-clr);
    background: url("/photos/paint.png"), var(--wht-clr);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /*
    background-image: linear-gradient(45deg, #ababa8 36%, #958c86 74%);
    background-size: 500%;
    background-position: right;
    animation: 12s linear 0s infinite alternate-reverse move;
    -webkit-animation: 12s linear 0s infinite alternate-reverse move;
    */
}

.descr-box{
    padding: 8% 2% 2%;
    margin-top: 10%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 85%;
    overflow-y: scroll;
}

.tech-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tech-cont h2{
    font-size: clamp(2rem, 5vw + 1rem, 4rem);
}

.descr-box ul{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
}

.tech-cont hr{
    border: solid 1px var(--blk-clr);
    width: 100%;
}

.tch-stk{
    padding: 8%;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid var(--blk-clr) 1px;
    background: var(--wht-clr);
    box-shadow: 8px 8px 0 1px rgba(0, 0, 0, .5);
    gap: 8px;
}

.tch-stk div{
    border: solid var(--blk-clr) 1px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.descr-box a{
    text-decoration: none;
}

.descr-box h2:hover{
    color: var(--wht-clr);
}

/*------Contact Form------*/

.con-form{
    padding: 2%;
    border: solid var(--blk-clr) 1px;
    box-shadow: 8px 8px 0 1px rgba(0, 0, 0, .5);
    width: 100%;
}

.con-form, form{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background: var(--wht-clr);
    text-align: center;
}

input[type=text], textarea{
    width: 100%;
    padding: 8px;
    border: transparent;
    border-bottom: solid var(--blk-clr) 1px;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 2px;
    resize: vertical;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

textarea{
  height: 200px;
}

input[type=submit]{
    border: none;
    cursor: pointer;
    margin-top: 2%;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

input[type=submit]:hover {
    color: var(--red-clr);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px;
}

label{
    color: var(--blk-clr);
}

/*------Keyframes------*/

@keyframes move{
    from{
        background-position: right;
    }
    to{
        background-position: left;
    }
}

/*------Media Queries------*/

/*tablets*/
@media screen and (max-width: 48rem) {
    .descr-box{
        width: 70%;
    }
    iframe{
        width: 35%;
    }
}

/*phones*/
@media screen and (max-width: 36rem) {
    .wid{
        margin-top: 30%;
    }
    .menu-btn{
        display: flex;
    }
    .fakeNav{
        text-align: center;
        flex-direction: column;
        width: 85%;
    }
    .descr-box{
        width: 100%;
    }
    iframe{
        display: none;
    }
    iframe:nth-child(2){
        opacity: .5;
    }
}