@import url('https://fonts.googleapis.com/css2?family=Silkscreen&family=Megrim&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilroy&family=Jura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&family=Bruno+Ace+SC&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	position: absolute;
	overflow-x: hidden;
	cursor: none;
	background: url("photos/god-and-adam.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: right;
}

section{
	overflow-x: none;
}

a{
	cursor: none;
}

:root{		
	/*===For case-studies===*/
	/*Fonts*/
	--g-r: "Gilroy";
	--j-r: "Jura";
	--r-c: "roboto condensed";
	--o-s: "oswald";
	--d-s: "Dancing Script";
	--b-a: "Bruno Ace SC";
	--r-b: "Roboto";

	/*===For site===*/

	/*Colors*/
	--blgr-clr: #3E5554;
	--brwn-clr:  #8A5424;
}

button{
	color: white;
	border-color: transparent;
	border-radius: 5px;
	padding: 5px 10px;
	background: linear-gradient(45deg, var(--blgr-clr), grey, #fff);
	background-size: 300%;
	background-position: left;
	box-shadow: -5px 5px 5px #3E55547f;
	cursor: none;
	transition: all 1s;
	animation: 1s ease-in 5s 1 sizeUp;
	animation-fill-mode: backwards;
}

button:hover {
 	cursor: none;
 	background-position: right;
	direction: rtl;
	transition: 1s;
	color:  #8A5424;
}

/*---Fonts---*/

nav, h1, .descp-cont span, .descp-cont h3, 
footer h2, .tab-compname li, .frntend li,
.hazwascoo li, .onreas li, .featsum li,  
.hambuchoice li, .traflight .tecard h2, 
.topnum h1, .timesum .workmore p, .timesum h3, 
.timesum .moreinfo p, .herobox h1, 
.ovrsum p, .contactbox p, .contactbox a, .ovrsum h3, 
.skillcard h3, .timesum p, .fsp-title, .message h2,
.cardcontent h2, .title-box h1, .title-box h2 {
	font-family: "Megrim";
	font-weight: 300;
}

.fonts li, .descp-cont h2, .knosercont h2,
.descp-cont p, .minibanner p, footer h1, .abouttext p, 
.restitcont p, .more-contact p,
.resoth p, .frntend h3, .hazwascoo h3, .onreas h3,
.smfooter a, .herobox p, .timesum h2{
	font-family: "Syne Mono";
	font-weight: 300;
}

button, .back li, .masonry p, .message p, 
.ovrsum h2, .featshow p, ::placeholder, .featshow h2, 
input[type=submit], .wrkcard p, .wellcont p, 
.abouttext h2, .masonry h2, .title-desc p{
	font-family: "Syne Mono";
	font-weight: 300;

}

/*---Media Queries---*/
@media screen and (max-width: 500px) {
	.hma{
		width: 16%;
	}
	.hambumenu .bckgrd{
		width: 10%;
	}
}


@media screen and (max-width: 70rem) {
	#navbar{
		display: none;
	}
	#arrw{
		display: none;
	}
	#topnum{
		display: none;
	}
	body{
		background-repeat: repeat-y;
		background-size: contain;
		background-position: center;
	}
	.abtsec{
		width: 100vw;
	}
	footer{
		display: none;
	}
	.featshow{
		flex-direction: column;
	}
	.flippy{
		flex-direction: column-reverse;
	}
	.cccont{
		flex-direction: column;
	}
	.resumebox{
		flex-direction: column;
	}
	.wellbox{
		flex-direction: column;
	}
	.overbox{
		padding-bottom: 20% ;
		flex-direction: column;
	}
	.expbox{
		padding-bottom: 20% ;
		flex-direction: column;
	}
	.dividerbox{
		height: 7rem;
	}
	.restitcont{
		align-items: center;
	}
	.restitcont h1{
		text-align: center;
	}
	.restitcont p{
		columns: 2;
	}
	.resoth{
		align-items: center;
	}
	.knoserbox .bh3{
		display: none;
	}
	.knosercont{
		align-items: center;
		text-align: center;
	}
	.wellcont{
		text-align: center;
		align-items: center;
	}
	.wellimg{
		align-items: center;
	}
	.wellcont p{
		columns: 2;
	}
	.featsum h2{
		text-align: center;
	}
	.featsum p{
		columns: 2;
	}
	.ovrsum{
		flex: 100%;
	}
	.ovrsumtite{
		flex: 100%;
	}
	.aboutsum{
		flex-direction: column;
	}
	.abouttext{
		align-items: center;
		text-align: center;
	}
	.seemore{
		display: none;
	}
	.skillcard p{
		font-size: clamp(.2rem, .1rem + 1vw, .5rem);
		display: none;
	}
	.wrkbox{
		flex-direction: column;
	}
	.foottab{
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}
}

@media screen and (min-width: 70rem) {
	#menu{
		display: none;
	}
}

/*---Cursor---*/

.cursor {
	z-index: 100;
	justify-content: center;
	position: fixed;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: #8A5424;
	transition: 0.01s;
	transform: translate(-50%, -50%);
	pointer-events: none;
	mix-blend-mode: difference;
	transition: width 0.5s, height 0.5s;
}

.cursor.grow{
	z-index: 100;
	width: 2rem;
	height: 2rem;
	background: #fff;
}

.cursor img{
	z-index: 100;
	width: 1.5rem;
	border-radius: 50%;
	border-width: 1.5px;
	border-style: solid;
	border-color: #8A5424;
	background: transparent;
	transition: 0.01s;
	transform: translate(-50%, -50%);
}

/*---Screen Loader---*/

.loader{
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(45, 42, 44, 1);
	transition: transform .75s, opacity 0.75s, visibility 0.75s;
}

.ldrimg{
	position: fixed;
	max-width: 50rem;
	max-height: 50rem;
	border-radius: 100%;
	border-color: #8A5424;
	border-style: solid;
	border-width: 3px;
	animation: 10s linear 0s infinite reverse spin;
	transition: .5s;
}

.loader-hidden{
	transform: scale(5);
	opacity: 0;
	visibility: hidden;
}

.loader::after{
	content: "";
}

.setup{
	position: relative;
	display: inline-block;
	color: #8A5424;
	font-size: clamp(.5rem, .5rem + 5vw, 2rem);
	text-transform: uppercase;
	-webkit-box-reflect: below 12px linear-gradient(
	transparent, rgba(0, 0, 0, 0.2));
	animation: animate 1s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--i));
}

/*---Navigation Bar---*/

header{
	z-index: 11;
	margin-left: 10%;
	width: 80%;
	max-height: 4.5rem;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	top: 0;
	border-top-style: solid;
   	border-top-color: black;
 	border-bottom-style: solid;
  	border-bottom-color: black;
   	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	border-width: 1px;
	overflow: hidden;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.46);
	animation: 1s ease-in-out 0s 1 slideInFromTop;
}

header .bckgrd{
	z-index: 1;
	margin-top: -5.5%;
	margin-left: -4%;
	position: absolute;
	opacity: 0%;
	width: 13%;
	border-style: solid;
	border-color: #8A5424;
	transition: .5s;
}

header .bckgrd:hover {
	cursor: none;
	opacity: 100%;
	border-radius: 50%;
}

#menu2{
	display: none;
}

.hambumenu{
	display: flex;
	align-items: center;
	justify-content: center;
}

.hambuchoice{
	z-index: 51;
	position: fixed;
	top: 8%;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
}

.hambuchoice li{
	padding: 15px 15px;
}

.hambuchoice a{
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
}

.hambuchoice a:hover {
	color: rgba(245, 39, 39, 0.8);
	opacity: 50%;
}

.hma{
	z-index: 51;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	width: 5%;
	top: 1%;
	transition: .2s;
}

.hma:hover {
	transform: translateY(5px);
}

.hambumenu .bckgrd{
	z-index: 50;
	position: fixed;
	width: 8%;
	top: 0%;
	border-radius: 100%;
	border-bottom-style: solid;
	border-bottom-color: #8A5424;
	transition: .5s;
	animation: 7s linear 0s infinite spin;
}

nav{
	display: flex;
	align-items: center;
	flex-direction: row;
	margin: auto;
}

.logo{
	z-index: 6;
	width: 4.3rem;
	margin: auto;
}

.logobckgrd{
	z-index: 6;
	margin-top: -6.2%;
	margin-left: -8.8%;
	position: absolute;
	opacity: 0%;
	width: 13%;
	border-style: solid;
	border-color: #8A5424;
	transition: .5s;
}

.logobckgrd:hover {
	cursor: none;
	opacity: 100%;
	border-radius: 50%;
}

.actsetup{
	position: relative;
	display: inline-block;
	color: #8A5424;
	font-size: 1rem;
	text-transform: uppercase;
	animation: animate 1s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--i));
}

.navigation{
	list-style: none;
	margin: auto;
}

.navigation li{
	display: inline-block;
	padding: 15px 15px;
}

.navigation a{
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
}

.navigation a:hover {
	color: rgba(245, 39, 39, 0.8);
	opacity: 50%;
	border-right-style: solid;
	border-right-width: 3px;
	border-right-color: #3E5554;
	border-left-style: solid;
	border-left-width: 3px;
	border-left-color: #3E5554;
}

.active{
	color: #8A5424;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #8A5424;
}

/*---Footer---*/

footer{	
	z-index: -2;
	display: flex;
	padding: 20px;
	position: absolute;
	flex-direction: row;
	align-items: top;
	justify-content: space-evenly;
	width: 100%;
	border-top-style: solid;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-width: 1px;
	background: url("photos/columns.png"), radial-gradient(gray, white);
	box-shadow: 0 0 8px 10px grey inset;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.pillar{
	z-index: -1;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
}

.pillar img{
	margin-top: -1.5%;
	margin-right: auto;
	width: 8%;
}

.pillar2{
	z-index: -1;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	transform: scaleX(-1);
}

.pillar2 img{
	margin-top: -1.5%;
	margin-right: auto;
	width: 8%;
}

.foottab{
	display: flex;
	width: 100%;
	align-items: top center;
	justify-content: space-evenly;


}

footer h1{
	text-decoration: underline;
	font-size: 1.8rem;
	color: #3E5554;
	width: fit-content;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: radial-gradient(gray, white);
	overflow: hidden;
   	box-shadow: -5px 12px 8px rgba(0, 0, 0, 0.46);
}

.qlinks a{
	text-decoration: none;
}

.qlinks h2{
	z-index: 100;
	padding: 10px;
	font-size: 1rem;
	font-weight: 400;
	color: #fff;
	border-width: 1px;
	border-radius: 5px;
	border-left-color: black;
	border-left-style: solid;
	border-right-color: black;
	border-right-style: solid;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
}

.qlinks a:hover {
	opacity: 50%;
	text-decoration: underline;
}

footer i{
	color: var(--blgr-clr);
}

footer i:hover {
	opacity: 50%;
	border-width: 1px;
	border-left-color: black;
	border-left-style: solid;
	border-right-color: black;
	border-right-style: solid;
	cursor: pointer;
}

.minibanner{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	border-width: 1px;
	bottom: 0;
	position: absolute;
	width: 100vw;
	background: radial-gradient(gray, white);
	color: black;
}

/*---Home Page Content---*/

.centertext{
	margin-left: auto;
	margin-right: auto;
}
        /*---Hero Section---*/

.herobox{
	overflow: hidden;
	z-index: -2;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: calc(100vh - 100px);
	background: linear-gradient(45deg, gray, white);
	animation: bganim ease-in 8s infinite alternate;
}

.hropnt{
	z-index: 10; 
	padding: 10%;
}

.hrobox-btn{
	justify-content: center; 
	align-items: center; 
	display: flex; 
	flex-direction: row; 
	gap: 1rem
}

.herobox h1{
	text-align: center;
	z-index: 2;
	font-size: clamp(2rem, .5rem + 5vw, 5rem);
	width: inherit;
	color: #fff;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
	padding: 20px;
	animation: 1s ease-in 0s 1 sizeUp;
	animation-delay: 3s;
	animation-fill-mode: backwards;
}

.herobox p{
	text-align: center;
	z-index: 2;
	width: fit-content;
	font-size: 1rem;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.20);
	color: var(--blgr-clr);
	animation: 1s ease-in-out 2.8s 1 slideInFromTop;
	animation-delay: 5s;
	animation-fill-mode: backwards;
}

.herobox button{
	width: 200px;
	height: 50px;
	font-size: 1rem;
}

.hroimg{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
}

.hroimg .bckgrd{
	z-index: 1;
	opacity: 40%;
	width: 34%;
	animation: 1s ease-in-out 1.2s 1 shake;
	animation-delay: 4s;
	animation-fill-mode: both;
}

.top{
	display: flex;
	overflow: hidden;
	margin-left: 90%;
	bottom: 2%;
	justify-content: flex-end;
	align-items: flex-end;
	z-index: 11;
	position: fixed;
	filter:  grayscale(90%);
	transition: 2s;
}

.topnum{
	display: flex;
	overflow: auto;
	margin-left: 5%;
	bottom: 2%;
	z-index: 11;
	position: fixed;
	animation: 3s linear 0s infinite cirrotation;
}

.topnum h1{
	font-size: clamp(1rem, 1rem + 5vw, 5rem);
}


.arrow{
	color: white;
	width: 8rem;
	filter: drop-shadow(16px 16px 20px #8A5424);
	cursor: pointer;
	transition: 2s;
}

        /*---Overview Section---*/

.overbox{
	display: flex;
	align-items: center;
	min-height: 110vh;
	overflow: auto;
	border-top-style: solid;
   	border-top-color: lightgray;
	border-bottom-style: solid;
	border-bottom-color:  lightgray;
	border-radius: 5px;
}

.ovrsum{
	z-index: 2;
	border-right-style: solid;
	border-right-color: black;
	border-right-width: 1px;
	padding: 10%;
}

.ovrsum .bh6{
	z-index: -1;
	margin-left: -7%;
	margin-top: -1%;
	width: 12rem;
	border-radius: 100%;
	border-bottom-color: #8A5424;
	border-bottom-style: solid;
	box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.46);
	position: absolute;
	animation: 10s linear 0s infinite reverse spin;
	transition: .5s;
}

.ovrsum h2{
	font-size: 2rem;
	text-decoration: underline;
	color: #3E5554;
	width: fit-content;
	margin-bottom: 10px;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: radial-gradient(gray, white);
	overflow: hidden;
}

.ovrsum p{
	font-size: 1.3rem;
	padding: 20px;
	color: #fff;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
}

.ovbx-btn{
	justify-content: center; 
	align-items: center; 
	display: flex; 
	flex-direction: row;
	padding-bottom: 5%;
	padding-top: 5%;
}

.ovbx-btn button{
	width: 200px;
	height: 50px;
	font-size: 1rem;
}

.skcd-cont{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5%;
}

.skillcard{
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: min(10% + 5vw, 9rem);
	height: min(2rem + 10vw, 9rem);
	padding: 10px;
	text-align: center;
	border-top-style: solid;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-width: 3px;
	box-shadow: -5px 12px 8px rgba(0, 0, 0, 0.46);
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
}

.skillcard img{
	width: 50%;
}

.skillcard h3{
	font-size: clamp(.8rem, .1rem + 1vw, 2rem);
	color: #fff;
}

.skillcard:hover {
	transform: translateY(-4px);
}

.skillcard:hover ~ .skillcard img{
	transform: translateY(4px);
}

.overbox h1{
	position: absolute;
	width: 25%;
	color: #fff;
	font-size: clamp(.5rem, .5rem + 2vw, 3rem);
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
	padding: 20px;
	-webkit-box-reflect: left 8px linear-gradient(
	transparent, #3E5554);

}

        /*---Projects Section---*/
	
.workbox{
	z-index: -2;
	width: 100%;
	display: flex;
	align-items: center;
	min-height: 110vh;
	overflow-x: wrap;
	padding: 10%;
	background: radial-gradient(gray, white);
}

.wrkbx-btn{
	z-index: 5;
	justify-content: center; 
	align-items: center; 
	display: flex; 
	flex-direction: row;
	margin-bottom: 5%;
}

.wrkbx-btn button{
	width: 200px;
	height: 50px;
	font-size: 1rem;
}

.workcon{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.wrkimg{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	margin-top: 17%;
	margin-left: -17%;
}

.wrkimg .bckgrd{
	z-index: -1;
	opacity: 40%;
	width: 26%;
	animation: 1s ease-in-out 1.2s 1 shake;
	animation-delay: 4s;
	animation-fill-mode: both;
}

.titeshow{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 1.5%;
}

.featshow{
	z-index: 2;
	display: flex;
	padding-bottom: 5%;
	gap: 3rem;
}

.featshow h2{
	z-index: 2;
	margin: auto;
	font-size: clamp(1.5rem, .2rem + 2vw, 2rem);
	text-decoration: underline;
	color: #3E5554;
}

.featshow p{
	z-index: 2;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 0px;
	font-size: 1rem;
	color: #fff;
}

.featsum p{
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
	padding: 20px;
	color: #fff;
}

.fsp-title{
	font-size: 1.5rem;
	text-transform: uppercase;
}

.fsp-desc{
	color: #3E5554;
	font-size: .8rem;
	text-decoration: underline;
}

.featsum ul{
	list-style: none;
	margin: auto;
	padding: 2%;
}

.featsum li{
	display: inline-block;
	padding: 15px 15px;
	color: #fff;
	text-decoration: underline;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
	box-shadow: -5px 12px 8px rgba(0, 0, 0, 0.46);
	transition: 1s;
}

.featsum li:hover {
	transform: translateY(-4px);
}

.featcard{
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: auto;
	width: 15rem;
	height: 20rem;
	padding: 20px;
	border-radius: 5px;
	border-top-style: solid;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-width: 3px;
	transition: 1s;
	box-shadow: -5px 12px 8px rgba(0, 0, 0, 0.46);
}

.featcard:hover {
	transform: translateY(-4px);
}

.projimg{
	overflow: auto;
	overflow-x: hidden;
	-ms-overflow-style: none;
}

.projimg::-webkit-scrollbar{
	display: none;
}

.projimg1{
	width: 720px;
	height: 300px;
	object-fit: contain;
}

.projimg1:hover {
	transform: scale(1.5);
}

.descrip{
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border-top-style: solid;
	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-width: 3px;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
}

.workbox .bckgrd{
	z-index: 1;
	position: absolute;
	margin-right: -16%;
	margin-top: -24%;
	opacity: 70%;
	width: 35%;
}

.workbox h1{
	text-align: center;
	z-index: 2;
	width: 40%;
	font-size: clamp(.5rem, .5rem + 5vw, 3rem);
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
	padding: 20px;
	font-weight: 500;
	color: #fff;
}

        /*---Experience Section---*/

.expbox{
	display: flex;
	align-items: center;
	min-height: 110vh;
	overflow: hidden;
	border-top-style: solid;
   	border-top-color: lightgray;
	border-bottom-style: solid;
	border-bottom-color:  lightgray;
	border-radius: 5px;
}

.exbx-btn{
	justify-content: center; 
	align-items: center; 
	display: flex; 
	flex-direction: row;
	padding-top: 5%;
}

.exbx-btn button{
	width: 200px;
	height: 50px;
	font-size: 1rem;
}

.expbox h1{
	z-index: -1;
	position: absolute;
	width: 25%;
	color: #fff;
	font-size: clamp(.5rem, .5rem + 2vw, 3rem);
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
	padding: 20px;
	-webkit-box-reflect: left 8px linear-gradient(
	transparent, #3E5554);
}

.timesum{
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	padding: 10%;
	min-height: 110vh;
	border-right-style: solid;
	border-right-color: black;
	border-right-width: 1px;
}

.timesum .bh7{
	z-index: -1;
	margin-left: -7%;
	margin-top: -36%;
	width: 12rem;
	border-radius: 100%;
	border-bottom-color: #8A5424;
	border-bottom-style: solid;
	box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.46);
	position: absolute;
	animation: 10s linear 0s infinite reverse spin;
	transition: .5s;
}

.timesum h2{
	text-align: center;
	font-size: 2rem;
	text-decoration: underline;
	color: #3E5554;
	width: fit-content;
	margin-bottom: 10px;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: radial-gradient(gray, white);
	overflow: hidden;
}

.timesum p{
	font-size: 1.3rem;
	padding: 20px;
	color: #fff;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
}

.tablist{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 15%;
}

.tablist button{
	background: transparent;
	width: 100px;
	height: 50px;
	font-size: 4rem;
	color: #3E5554;
	box-shadow: none;
	transition: 1s transform 0.5s;
}

.tablist button#nxt-btn:hover{
	transform: translateX(15px);
}

.tablist button#prev-btn:hover{
	transform: translateX(-15px);
}

.book{
	position: relative;
	width: 350px;
	height: 500px;
	transition: transform 0.5s;
}

.paper{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	perspective: 1500px;
}

.paper ul{
	list-style: none;
}

/*Paper Order*/

#p1{
	z-index: 3;
}

#p2{
	z-index: 2;
}

#p3{
	z-index: 1;
}

.front, .back{
	padding: 5%;
	background: radial-gradient(gray, white);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform-origin: left;
	transition: 0.5s;
}

.front{
	z-index: 1;
	backface-visibility: hidden;
	border-left: 3px solid black;
}

.front h3{
	margin-top: 20%;
}

.back{
	z-index: 0;
	border-left: 3px solid black;
}

.front-content, .back-content{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.back-content{
	transform: rotateY(180deg);
}

/*Paper Flip Effect*/

.flipped .front, 
.flipped .back{
	transform: rotateY(-180deg);
}

        /*---Contact Section---*/

.contactbox{
	display: flex;
	align-items: center;
	min-height: calc(100vh - 115px);
	padding: 10%;
	background: radial-gradient(gray, white);
}

.message{
	display: flex;
	flex-direction: column;
	margin: auto;
}

.msimg .bckgrd{
	position: absolute;
	margin-left: -7%;
	margin-top: -4%;
	opacity: 40%;
	width: 30%;
	transform: rotate(180deg);
}

.message h2{
	z-index: 5;
	text-align: center;
	font-size: clamp(.5rem, .5rem + 5vw, 2rem);
	width: inherit;
	color: #fff;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
	padding: 20px;
}

.contactbox .message p{
	z-index: 5;
	font-weight: 300;
	text-align: center;
	font-size: 1.3rem;
	color: var(--blgr-clr);
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.20);
}

.more-contact{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: auto;
}

.more-contact p{
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: radial-gradient(gray, white);
	overflow: hidden;
   	box-shadow: -5px 12px 8px rgba(0, 0, 0, 0.46);}

.cimg .bckgrd{
	z-index: 1;
	position: absolute;
	margin-left: -9%;
	margin-top: -8%;
	opacity: 40%;
	width: 30%;
}

.contactbox h1{
	z-index: 5;
	font-size: clamp(.5rem, .5rem + 5vw, 2rem);
	width: inherit;
	color: #fff;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
	padding: 20px;
}

.contactbox p{
	z-index: 5;
	padding: 10px;
	font-weight: 600;
	font-size: 1rem;
	color: #3E5554;
}

.contactbox a{
	z-index: 5;
	font-size: .8rem;
	color: #fff;
	padding: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
}

.mail:hover {
	color: #8A5424;
	cursor: pointer;
}

.cccont{
	display: flex;
	justify-content: space-evenly;
	margin: auto;
	flex: 100%;
	min-height: 100%;
	gap: 2rem;
	align-items: center;
}

.cont{
	display: flex;
	justify-content: center;
	margin: auto;
	align-items: center;
	flex-direction: column;
}

.contactcard{
	align-items: center;
	justify-content: center;
	width: 80%;
	opacity: 60%;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
 	border-bottom-style: solid;
  	border-bottom-color: black;
   	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
   	overflow-x: hidden;
   	padding: 10px;
   	box-shadow: -5px 12px 8px rgba(0, 0, 0, 0.46);
}

.contactcard:hover {
	transform: translateY(-4px);
}

.cardcontent{
	margin: auto;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 80%;
	padding: 10px;
}

.cardcontent h2{
	text-align: center;
	font-size: 2rem;
	color: #fff;
}

input[type=text], textarea {
	width: 100%;
  	padding: 14px;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
  	margin-top: 1px;
  	margin-left: auto;
  	margin-right: auto;
  	background:  radial-gradient(gray, white);
  	margin-bottom: 1px;
  	resize: vertical;
}

::placeholder{
	color: #8A5424;
}

textarea{
	height: 150px;
}

@media screen and (max-width: 1280px){
	 textarea{
	 	height: 100px;
	}
}

input[type=submit] {
	color: white;
	border-color: transparent;
	padding: 5px 10px;
	background: #3E5554;
	text-decoration: none;
	box-shadow: -5px 5px 5px #3E55547f;
	transition: all 1s;
}

input[type=submit]:hover {
 	cursor: pointer;
	opacity: 0.5;
	direction: rtl;
	transform: scale(-1, 1);
	unicode-bidi: bibi-override;
}

/*---Work Page Content---*/

.wrkbox{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
}

.wrkcard{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100vw;
	height: 100vh;
	border-style: solid;
	border-color: black;
}

.wrkimg{
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrkimgshow{
	position: absolute;
	margin-left: 17%;
	z-index: -1;
	width: 20%;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	animation: 5s linear 0s infinite cirrotation;
}

.wrkcard a{
	text-decoration: none;
	color: inherit;
	transition: 1s;
}

.wrkcard a:hover {
	transform: translateY(-20px);
}

.wrkcard h1{
	padding: 5px;
	font-size: 2.2rem;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	color: #fff;
}

.wrkcard p{
	color: #3E5554;
	text-decoration: underline;
	padding: 5px;
	font-size: 1rem;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: radial-gradient(gray, white);
}

/*---About me Page Content---*/

        /*---Welcome Section---*/

.wellbox{
	display: flex;
	align-items: center;
	min-width: 100vw;
	min-height: calc(100vh - 50px);
	padding: 10%;
	background: linear-gradient(45deg, gray, white);
	animation: bganim ease-in 8s infinite alternate;
}

.wellbx-btn{
	justify-content: center; 
	align-items: center; 
	display: flex; 
	gap: 1rem;
	flex-direction: row;
	padding: 10%;
}

.wellbx-btn button{
	z-index: 2;
	width: 200px;
	height: 50px;
	font-size: 1rem;
}

.wellbx-btn a{
	z-index: 2;
}

.wellcont{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10%;
	
}

.wellcont h1{
	z-index: 5;
	color: #fff;
	width: fit-content;
	font-size: clamp(2rem, .5rem + 5vw, 5rem);
	animation: 1s ease-in 0s 1 sizeUp;
	animation-delay: 4s;
	animation-fill-mode: backwards;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
	padding: 20px;
}

.wellcont p{
	text-align: center;
	z-index: 5;
	color: var(--blgr-clr);
	font-size: 1.3rem;
	padding: 20px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.20);
	animation: 1s ease-in-out 2.8s 1 slideInFromTop;
	animation-delay: 6s;
	animation-fill-mode: backwards;
}

.wellcont img{
	z-index: 1;
	opacity: 40%;
	width: min(25%, 25rem);
	margin-top: -17%;
	position: absolute;
	animation: 1s ease-in-out 1.2s 1 shake;
	animation-delay: 5s;
	animation-fill-mode: both;
}

.wellimg{
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	padding: 10%;
}

.wellimg .tsm{
	margin-left: -8%;
	margin-top: -10%;
	width: 20%;
	border-radius: 100%;
	box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.46);
	position: absolute;
}

.wellimg .bh{
	margin-left: -15%;
	margin-top: -10%;
	width: 35%;
	border-radius: 100%;
	border-bottom-color: #8A5424;
	border-bottom-style: solid;
	box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.46);
	animation: 10s linear 0s infinite spin;
	transition: .5s;
	position: absolute;
}

.wellimg .bh:hover {
	border-color: #8A5424;
	border-style: solid;
	border-width: 3px;
	animation: 1s linear 0s infinite alternate webeffect, 10s linear 0s infinite spin;
}

.wellimg:hover > .tsm {
	animation: 2s linear 0s infinite shakeNoOp;
}

	/*---About Section---*/

.aboutbox{
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	padding: 10%;
	background: radial-gradient(gray, white);
}

.abtit{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.abtit h1{
	z-index: 2;
	width: inherit;
	color: #fff;
	font-size: clamp(.5rem, .5rem + 2vw, 3rem);
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
	padding: 20px;

}

.aboutsum{
	display: flex;
}

.aboutcont{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10%;
	overflow: auto;
}

.aboutcont .dunk{
	z-index: 5;
	width: min(25%, 25rem);
	position: absolute;
}

.aboutcont .dunk:hover {
	animation: 1s linear 0s infinite shakeNoOp;
}

.aboutcont .pc{
	z-index: 5;
	position: absolute;
	transition: 1s;
	width: min(25%, 25rem);
}

.aboutcont .pc:hover {
	animation: 2s linear 0s infinite shakeNoOp;
}

.aboutcont .bh1{
	z-index: 1;
	width: min(25%, 25rem);
	border-radius: 100%;
	border-bottom-color: #8A5424;
	border-bottom-style: solid;
	box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.46);
	position: absolute;
	animation: 13s linear 0s infinite spin;
	transition: .5s;
}

.aboutcont .bh2{
	z-index: 1;
	width: min(23%, 23rem);
	border-radius: 100%;
	border-bottom-color: #8A5424;
	border-bottom-style: solid;
	box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.46);
	position: absolute;
	animation: 8s linear 0s infinite reverse spin;
	transition: .5s;
}

.abouttext{
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: top center;
	padding: 10%;
}

.abouttext .abtcrack{
	z-index: 1;
	margin-top: -18%;
	margin-left: 10%;
	position: absolute;
	opacity: 43%;
	width: min(30%, 30rem);
}

.abouttext h2{
	z-index: 5;
	text-align: center;
	color: #3E5554;
	font-size: 2rem;
	text-decoration: underline;
	width: fit-content;
	margin-bottom: 5px;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: radial-gradient(gray, white);
	overflow: hidden;
   	box-shadow: -5px 12px 8px rgba(0, 0, 0, 0.46);
}

.abouttext p{
	z-index: 5;
	color: #fff;
	font-size: 1.3rem;
	padding: 20px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.20);
}

	/*---Divider Section---*/

.dividerbox{
	width: 100%;
	height: 10rem;
	background: url("photos/columns.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	border-top-style: solid;
   	border-top-color: lightgray;
	border-bottom-style: solid;
	border-bottom-color:  lightgray;
	border-radius: 5px;
}

	/*---Services Section---*/

.knoserbox{
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	padding: 10%;
	background: radial-gradient(gray, white);
}

.knosercont{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	width: 80%;
}


.knosercont img{
	z-index: 1;
	opacity: 40%;
	width: min(25%, 25rem);
	margin-left: -8%;
	margin-top: -8%;
	position: absolute;
}

.knosercont h1{
	z-index: 2;
	color: #fff;
	width: fit-content;
	font-size: clamp(.5rem, .5rem + 2vw, 3rem);
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
	padding: 20px;
}

.knosercont h2{
	z-index: 5;
	color: #3E5554;
	font-size: 2rem;
	text-decoration: underline;
	width: fit-content;
	margin-bottom: 5px;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: radial-gradient(gray, white);
	overflow: hidden;
   	box-shadow: -5px 12px 8px rgba(0, 0, 0, 0.46);
}

.masonry {
  padding-top: 20px;
  display: grid;
  width: 85%;
  height: 40%;
  grid-gap: 2em; /* [1] Add some gap between rows and columns */
  grid-template-columns: repeat( auto-fill, minmax( 120px, 1fr ) ); /* [2] Make columns adjust according to the available viewport */
  grid-auto-rows: 75px; /* [3] Set the height for implicitly-created row track */
}

.masonry .bh3{
	z-index: 1;
	margin-left: 29%;
	margin-top: 19%;
	width: min(12%, 12rem);
	border-radius: 100%;
	border-bottom-color: #8A5424;
	border-bottom-style: solid;
	box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.46);
	position: absolute;
	animation: 10s linear 0s infinite reverse spin;
	transition: .5s;
}

.masonry .bh3:hover {
	border-color: #8A5424;
	border-style: solid;
	border-width: 3px;
	animation: 1s linear 0s infinite alternate webeffect, 10s linear 0s infinite spin;
}


.masonry h2{
	color: #fff;
	font-size: 1rem;
	padding-bottom: 5px;
}

.masonry p{
	color: #8A5424;
	font-size: 1rem;
	padding: 20px;
}

.masonry .uide{
	margin-left: -3%;
	margin-top: 2%;
	width: 7rem;
	position: absolute;
}

.masonry .wrdpr{
	margin-left: -3%;
	margin-top: 5%;
	width: 7rem;
	position: absolute;
}

.masonry .wbds{
	margin-left: -3%;
	margin-top: 6%;
	width: 7rem;
	position: absolute;
}

.masonry .pytho{
	margin-left: 4%;
	margin-top: -1%;
	width: 3rem;
	position: absolute;
}

.masonry .wbde{
	margin-left: -3%;
	margin-top: 2%;
	width: 7rem;
	position: absolute;
}

.col{
   grid-row-end: span 1;
   border-top-style: solid;
   border-top-color: black;
   border-bottom-style: solid;
   border-bottom-color:  black;
   background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
   overflow: hidden;
   padding: 10px;
   transition: 1s;
}

.col h2{
	color: #fff;
}

.pyt{
	transition: all 1s;
}
.pyt:hover > .pytho{
	transform: scale(1.2);
}

.pyt:hover{
	transform: translateY(-10px);
}

.col--2x{
   text-align: center;
   grid-row-end: span 2;
   border-top-style: solid;
   border-top-color: black;
   border-bottom-style: solid;
   border-bottom-color: black;
   background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
   overflow-x: hidden;
   box-shadow: -5px 12px 8px rgba(0, 0, 0, 0.46);
   padding: 10px;
   transition: 1s;
}

.col--2x h2{
	color: #fff;
}

.ud{
	transition: all 1s;
}
.ud:hover > .uide{
	transform: scale(1.2);
}

.ud:hover{
	transform: translateY(-10px);
}

.webd{
	transition: all 1s;
}
.webd:hover > .wbde{
	transform: scale(1.2);
}

.webd:hover{
	transform: translateY(-10px);
}

.col--3x {
   text-align: center;
   grid-row-end: span 3;
   border-top-style: solid;
   border-top-color: black;
   border-bottom-style: solid;
   border-bottom-color: black;
   background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
   overflow: hidden;
   box-shadow: -5px 12px 8px rgba(0, 0, 0, 0.46);
   padding: 10px;
   transition: .8s;
}

.wp{
	transition: all 1s;
}
.wp:hover > .wrdpr{
	transform: scale(1.2);
}

.wp:hover{
	transform: translateY(-10px);
}

.wd{
	transition: all 1s;
}
.wd:hover > .wbds{
	transform: scale(1.2), translateY(0px);
}

.wd:hover{
	transform: translateY(-10px);
}

	/*---Resume Section---*/

.resumebox{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	min-height: 100vh;
	padding: 10%;
	background: radial-gradient(gray, white);
	overflow: hidden;
	gap: 2rem;
}

.restitcont{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.restitcont h1{
	z-index: 2;
	color: #fff;
	width: fit-content;
	font-size: clamp(.5rem, .5rem + 2vw, 3rem);
	padding-bottom: 5px;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
	padding: 20px;
}

.restitcont p{
	z-index: 5;
	color: var(--blgr-clr);
	font-size: 1.3rem;
	padding: 20px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.20);
}

.rsbx-btn{
	justify-content: center; 
	align-items: center; 
	display: flex; 
	flex-direction: row;
	padding: 10%;
	gap: 1rem;
}

.rsbx-btn button{
	z-index: 5;
	width: 200px;
	height: 50px;
	font-size: 1rem;
}

.resact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.resact img{
	z-index: 5;
	transition: 1s;
	width: 100%;
}

.resact img:hover {
	transform: scale(1.5);
}

.resoth{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.resoth img{
	z-index: 1;
	margin-left: -9%;
	margin-top: -6%;
	position: relative;
	width: min(100%, 25rem);
}

.resoth h1{
	z-index: 2;
	color: #fff;
	width: fit-content;
	font-size: clamp(.5rem, .5rem + 2vw, 3rem);
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
	padding: 20px;
}

.resoth p{
	z-index: 5;
	color: #fff;
	font-size: 1rem;
	padding: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
}

.resoth i{
	color: #fff;
}


.resoth .bh4{
	z-index: 1;
	margin-left: 0%;
	margin-top: -50%;
	width: min(50%, 8rem);
	border-radius: 100%;
	border-bottom-color: #8A5424;
	border-bottom-style: solid;
	box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.46);
	position: relative;
	animation: 10s linear 0s infinite spin;
	transition: .5s;
}

.resoth .bh4:hover {
	border-color: #8A5424;
	border-style: solid;
	border-width: 3px;
	animation: 1s linear 0s infinite alternate webeffect, 10s linear 0s infinite spin;
}

/*---Project Page---*/

.title-box{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	margin-top: 4.5rem;
	min-height: calc(100vh - 115px);
	background: url("photos/god-and-adam.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: right;
}

.parallax{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.parallax img#tit1{
	position: fixed;
}

.parallax img#tit2{
	position: fixed;
}

.parallax h1#tit{
	position: fixed;
}

.title-box img{
	position: absolute;
}

.tittext{
	transform: translateX(-50%);
}

.titimg{
	width: 60%;
	margin-top: -18%;
	margin-left: -6%;
}

.titimg2{
	width: 50%;
	margin-top: -16%;
	margin-left: 51%;
}

.title-box h1{
	text-align: center;
	z-index: 2;
	font-size: clamp(2rem, .5rem + 5vw, 5rem);
	width: inherit;
	color: #fff;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
	padding: 20px;
	animation: 1s ease-in 0s 1 sizeUp;
	animation-delay: 3s;
	animation-fill-mode: backwards;
}

.title-desc{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title-box p{
	z-index: 2;
	margin-top: 13%;
	padding: 20px;
	font-size: 1.5rem;
	text-decoration: none;
	color: #3E5554;
	width: 50%;
	margin-bottom: 10px;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: radial-gradient(gray, white);
	overflow: hidden;
   	box-shadow: -5px 12px 8px rgba(0, 0, 0, 0.46);
}

.title-box h2{
	z-index: 2;
	color: #fff;
	padding: 5px;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
}

.title-box a{
	z-index: 2;
	color: #fff;
	font-size: 2rem;
}

.title-box a:hover {
	color: #3E5554;
}

.descp-box{
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	min-height: 100vh;
	background: radial-gradient(gray, white);
	padding: 10%;
}

.descp-cont{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.descp-cont h2{
	padding: 20px;
	width: 80%;
	margin-bottom: 200px;
	text-align: center;
	font-size: clamp(1.5rem, .2rem + 2vw, 3rem);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
	color: #fff;
}

.descp-cont h3{
	text-align: left;
	font-size: clamp(1rem, .2rem + 2vw, 2rem);
	text-decoration: underline;
	color: #3E5554;
	padding-bottom: 20px;
}

.descp-cont p{
	width: fit-content;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
	box-shadow: -5px 12px 8px rgba(0, 0, 0, 0.46);
	padding: 20px;
	color: #fff;
}

.descp-cont span{
	text-decoration: underline;
	font-size: 1rem;
	padding-bottom: 5px;
}

.descp-cont a{
	color: black;
	transition: 1s;
}

.descp-cont a:hover{
	font-size: 1.5rem;
	color: #fff;
}

.descp-cont .bhac{
	z-index: 1;
	margin-top: 2%;
	width: 12rem;
	border-radius: 100%;
	border-bottom-color: #8A5424;
	border-bottom-style: solid;
	box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.46);
	position: absolute;
	animation: 10s linear 0s infinite reverse spin;
	transition: .5s;
}

.descp-cont .bhac:hover {
	animation: 1s linear 0s infinite alternate webeffect, 10s linear 0s infinite spin;
}

.descp-cont video{
	border-color: white;
	border-style: solid;
	border-radius: 20px;
	border-left-width: 10px;
	border-right-width: 10px;
	border-top-width: 40px;
	border-bottom-width: 40px;
}

.descp-cont .gif{
	width: 350px; 
	height: 400px;
	border-color: white;
	border-style: solid;
	border-radius: 20px;
	border-left-width: 10px;
	border-right-width: 10px;
	border-top-width: 40px;
	border-bottom-width: 40px;
}

.usedtech{
	display: flex;
}

.descp-img{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50vh;
	border-radius: 5px;
	overflow: hidden;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.46);
	background-repeat: repeat-x;
}

.descp-img img{
	width: 60%;
}

.descp-pic{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15rem;
	padding: 10%;
	height: 200vh;
}

.descp-pic h1{
	z-index: 5;
	font-size: 4rem;
	margin-top: -60%;
}

.descp-pic img{
	width: 50%;
}

.oldpic{
	display: flex;
	width: 100%;
	height: 100%;
}

.old{
	position: absolute;
	margin-left: -40%;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;

}

.old1{
	z-index: 2;
	margin-top: 10%;
	margin-left: -15%;
	position: absolute;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
}

.old2{
	z-index: 3;
	margin-top: 2%;
	margin-left: 1%;
	position: absolute;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
}

.new{
	position: absolute;
	margin-left: -40%;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
}

.new1{
	z-index: 2;
	margin-top: 10%;
	margin-left: -15%;
	position: absolute;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
}

.new2{
	z-index: 3;
	margin-top: 2%;
	margin-left: 1%;
	position: absolute;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
}


.newpic{
	display: flex;
	width: 100%;
	height: 100%;
}

.ux-elem{
	display: flex;
	gap: 2rem;
	padding: 5%;
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: radial-gradient(gray, white);
	overflow: hidden;
}

.fonts{
	display: flex;
	flex-direction: column;
}

.fonts h2{
	padding: 10px;
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
	font-size: clamp(1rem, .2rem + 2vw, 2rem);
	border-radius: 5px;
	border-top-style: solid;
   	border-top-color: black;
	border-bottom-style: solid;
	border-bottom-color:  black;
	background: linear-gradient(black,  rgba(0, 0, 0, 0.76));
	overflow: hidden;
	color: #fff;
	box-shadow: none;
}

.fonts p{
	border-radius: 0px;
	border-style: none;
	background: transparent;
	overflow: hidden;
	padding: 20px;
	color: black;
	font-size: 1.5rem;
}

.fonts ul{
	margin: 0;
	margin-top: 15px;
	list-style: none;
	text-align: center;
}

.fonts li{

	text-align: left;
	padding: 5px;
}

.fullsite{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 10%;
}

.newfull{
	z-index: 3;
	width: 80%;
}

/*---Animations---*/
.hidden{
	opacity: 0;
	transition: 1s;
	filter: blur(15px);
}

.show{
	opacity: 1;
	transition: 1s;
	animation: 1s ease-in-out 0s 1 sizeIn;
}

.show1{
	opacity: 1;
	animation: 3s ease-in-out 0s 1 sizeIn;
}

@keyframes hover{
	0%{
		transform: translateY(0px);
	}
	30%{
		transform: translateY(-8px);
	}
	50%{
		transform: translateY(0px);
	}
	70%{
		transform: translateY(4px);
	}
	100%{
		transform: translateY(-4px);
	}
}

@keyframes slideInFromTop{
	0% {
		opacity: 0;
		transform: translateY(-50%);
	}
	100% {
		opacity: 100;
		transform: translateY(0);
	}
}

@keyframes slideInFromBottom{
	0% {
		opacity: 0;
		transform: translateY(50%);
	}
	100% {
		opacity: 100;
		transform: translateY(0);
	}
}

@keyframes slideInFromLeft{
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
	100% {
		opacity: 100;
		transform: translateX(0);
	}
}

@keyframes slideOutFromLeft{
	0% {
		opacity: 0;
		transform: translateX(0%);
	}
	100% {
		opacity: 100;
		transform: translateX(-100%);
	}
}

@keyframes slideOutFromRight{
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(100%);
	}
}

@keyframes slideInFromRight{
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes sizeUp{
	0%{
		opacity: 0;
		transform: scale(0);
	}
	50%{
		opacity: 20%;
		transform: scale(1.5);
	}
	100%{
		opacity: 100%;
		transform: scale(1.0);
	}
}

@keyframes sizeIn{
	0%{
		opacity: 0;
		transform: scale(0);
	}
	50%{
		opacity: 20%;
		transform: scale(1);
	}
	100%{
		opacity: 100%;
		transform: scale(1.0);
	}
}

@keyframes spin{
	100%{
		transform: rotate(360deg);
	}
}

@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 60%;
	}
	100%{
		opacity: 100%;
	}
}

@keyframes fa{
	0%{
		transform: translateY(15px) translateX(-15px) rotate(-8deg);
	}
	40%{
		transform: translateY(25px) translateX(-25px) rotate(-16deg);
	}
	60%{
		transform: translateY(-20px) translateX(20px) rotate(-22deg);
	}
	100%{
		transform: translateY(-10px) translateX(10px) rotate(-10deg);
	}
}

@keyframes webeffect{
	0%{
		border-top-left-radius: 0%;
	}
	30%{
		border-bottom-right-radius: 0%;
	}
	70%{
		border-top-right-radius: 0%;
	}
	100%{
		border-bottom-left-radius: 0%;
	}
}

@keyframes animate{
	0%{
		transform: translateY(0px);
	}
	20%{
		transform: translateY(-20px);
	}
	40%, 100%{
		transform: translateY(0px);
	}
}

@keyframes bganim{
	0%{
		background: linear-gradient(45deg, gray, white);
	}25%{
		background: linear-gradient(90deg, gray, white);
	}50%{
		background: linear-gradient(135deg, gray, white);
	}75%{
		background: linear-gradient(180deg, gray, white);
	}100%{
		background: linear-gradient(225deg, gray, white);
	}
}

@keyframes cirrotation{
	0%{
		transform: translateY(-10px) rotate3d(0, 4, 2, 0deg);
	}
	50%{
		transform: translateY(10px) rotate3d(0, 4, 2, 180deg);
	}
	100%{
		transform: translateY(-10px) rotate3d(0, 4, 2, 360deg);
	}
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); opacity: 0 }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); opacity: 40% }
}

@keyframes shakeNoOp {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg);
}